{% extends "layout.html" %}

{% block title %}
Art Explore
{% endblock %}

{% block content %}
<h1 class = "text-center m-4 ">Welcome to Artx</h1>

<a class = 'btn btn-primary mb-4 ms-2 mt-2 p' href="{% url 'tweet_create' %}">
Create a Tweet</a>

<div class = 'container row gap-3 ms:$spacer * 5 '>
    {% for tweet in tweets %}
    <div class="card" style="width: 20rem;">
      {% if tweet.photo %}
      <img src="{{ tweet.photo.url }}" alt="Tweet Photo" style="width: 300px; height: 250px; margin-top:5px">
      {% else %}
      <p>No photo uploaded for this tweet.</p>
       {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          {% if tweet.user == user %}
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}

