{% extends "layout.html" %}

{% block title %}
Art Explore
{% endblock %}

{% block content %}
<h1 class = "text-center m-4">Welcome to Artx project</h1>
{% if from.insctance.pk %}
    Edit Tweet
    {%else %} 
    Create Tweet
    {% endif %}
    <form method="post" enctype='multipart/form_data'>
        {% csrf_token %} 
        {{form.as_p}}
        <button class = "btn btn-warning" type = "submit">Submit</button>
    </form> 
    <a href="{% url 'tweet_list' %}">Back</a>
</h2>

{% endblock %}
